build/
build/*
dist/
dist/*
__pycache__/
__pycache__/*
ioxplugin/__pycache__/
ioxplugin/__pycache__/*
logs/
logs/*
tests/__pycache__/
tests/__pycache__/*
*.log
.vscode/
.vscode/*
ioxplugin.egg-info/
ioxplugin.egg-info/*
store_entry.json
